<app-navbar></app-navbar>

<div class="container mt-5">
      <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
            <div class="row">
                  <div class="col-lg-10 mb-3">
                        <input type="text" class="form-control" placeholder="Search.." formControlName="movieName">
                  </div>
                  <div class="col-lg-2 mb-3">
                       <button class="btn">Search</button>
                  </div>
            </div>

      </form>

      <div class="row mt-5 gy-2">
            <div class="col-md-6" *ngFor="let s of searchResult">
                  <div class="row">
                        <div class="col-md-3 mb-3" *ngIf="s.poster_path">
                              <img [src]="prefixImg+s.poster_path" class="d-block w-100" alt="..." [routerLink]="['/movie',s.id]">
                        </div>
                        <div class="col-md-9 p-2">
                             <h5>{{s.title}}</h5>
                        </div>
                  </div>
            </div>
      </div>
</div>